[submodule "flintjvm"]
	path = flintjvm
	url = https://github.com/DevMeoU/FlintJVM.git
[submodule "flintmidp"]
	path = flintmidp
	url = https://github.com/FlintVN/FlintMIDP.git
	branch = update_features
[submodule "flintjdk"]
	path = flintjdk
	url = https://github.com/DevMeoU/FlintJDK.git
	branch = port/esp32-j2me-to-flintos
