[submodule "flintjvm"]
	path = flintjvm
	url = https://github.com/DevMeoU/FlintJVM.git
[submodule "flintmidp"]
	path = flintmidp
	url = https://github.com/FlintVN/FlintMIDP.git
[submodule "flintjdk"]
	path = flintjdk
	url = https://github.com/DevMeoU/FlintJDK.git
[submodule "flintui"]
	path = flintui
	url = https://github.com/FlintVN/FlintJDK.git
	branch = flint.ui
